:root {
  --fp-type-unit: 25px;

  --fp-color-white: #fff;
  --fp-color-black: #000;
  --fp-color-grey: #cbcbcb;
  --fp-color-grey-dark: #6c6c6c;

  --fp-app-nav-height: 2rem;

  --fp-app-bottom-height: 2rem;
}
