:root {
  --fp-type-unit: 25px;

  --fp-gutter: .5rem;

  --fp-section-margin: 2rem;

  --fp-color-white: #fff;
  --fp-color-black:         hsl(300, 58%, 5%);

  --fp-color-grey-light: #ececec;
  --fp-color-grey: #cbcbcb;
  --fp-color-grey-dark: #6c6c6c;

  --fp-font-size-small: .7rem;
  --fp-line-height-small: .9rem;

  // Accueil them
  --fp-theme-color-main:             rgb(120, 51, 161);
  --fp-theme-color-secondary:        rgb(242,3,13);
  --fp-theme-color-ternary:          rgb(227,212,190);
  --fp-theme-color-quad:             rgb(227,212,190);

  --fp-app-nav-height: 2rem;

  --fp-app-bottom-height: 2rem;

  --fp-color-Default:                 rgb(255, 0, 252);
  --fp-color-Accueil:                 #f2030d;
  --fp-color-MakerLab:                #2154ff;
  --fp-color-LearningLab:             #ff6917;
  --fp-color-Foodlab:                 #fff800;
  --fp-color-GrandLab:                #ffc78c;
  --fp-color-Hotel_Entreprises:       #9bcf00;
  --fp-color-Ecole_Horlogerie:        #bea5e6;
  --fp-color-Creche:                  #b9e6ff;

}
