.fp-page {

  .fp-page__sections {
    padding-top:    var(--fp-section-margin);
    padding-bottom: var(--fp-section-margin);

    > *:first-child {
      margin-top: 0;
    }

    > *:last-child {
      margin-bottom: 0;
    }
  }

  padding-bottom: 3rem;

  &.fp-page--no-margin-bottom {
    padding-bottom: 0;
  }

}
